
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* BEGINNING CSS CODE */

body {
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* width: 960px; */
    margin: 0 auto;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.mj-wb {
  font-family: Oswald;
  font-size: 75px;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapper {
  position: absolute;
  top: 4px;
  left: 16px;
}

#mission {
  font-family: Muli;
  color: white;
  position: absolute;
  top: 52%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 30%;
  line-height: 1.25;
}

#matt-view {
  width: 100%;
}

#phone {
  /* font-family: Oswald; */
  float: left;
  margin: 10px;
  /* position: absolute;
  top: 4px;
  left: 16px; */
}

#github {
  /* font-family: Oswald; */
  float: left;
  margin: 10px;
  /* position: absolute;
  top: 4px;
  left: 200px; */
}

#linkedin {
  /* font-family: Oswald; */
  float: left;
  margin: 10px;
}

#email {
  /* font-family: Oswald; */
  float: left;
  margin: 10px;
}

#resume {
  /* font-family: Oswald; */
  float: left;
  margin: 10px;
}

.project-card {
  float: left;
  margin: 15px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  width: 380px;
  padding: 10px;
  border-radius: 10px;
}

.project-card-title {
  font-family: Oswald;
  font-size: 25px;
  color: black;
  margin: 5px;
}

.project-card-text {
  font-family: Muli;
  font-size: 16px;
  color: black;
  margin: 5px;
}

/* CODE FOR HEADER BASED ON https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_dividers */

/*

.fullspanheader {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #666666;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: left;
  }

  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 26px 16px; 
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #4aaaa5;
  }

  .resume {
    vertical-align: bottom !important; 
  }

  */

/* END CODE FOR HEADER */



/* h1 {
  font-family: 'Muli', sans-serif;
    text-transform: lowercase;
    background-color: #4aaaa5;*/
    /*font-weight: bold;*/
/*    text-align: center;
    color: white;
    margin-top: 0;
    padding: 20px;
    font-size: 28px;
}*/

/*
h2 {
  font-family: 'Muli', sans-serif;
    color: #4aaaa5;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.navbar {
    width: 960px;
}

.links {
    width: 760px;
    float: right;
}

.about {
    width: 100%;
}

#headshot {
    float: left;
    margin: 10px;
}

p {
  font-family: 'Old Standard TT', serif;
}

.card {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.card-title {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.card-text {
  font-family: 'Muli', sans-serif;
  margin-bottom: 10px;
}

.card-link {
  margin-right: 10px;
}
*/

/* CODE FOR FOOTER BASED ON https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_footer */
/*
.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: #4aaaa5;
}
*/

/* PORTFOLIO CSS */

.thumbnails {
  background-color: #ffffff;
  margin: 0 auto;
}

.card {
  width: 40%;
  float: left; 
}

.thumbnaillabel {
  padding: 10px;
  background-color: #4aaaa5;
  color: #ffffff;
  width: 161px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#PortfolioHead {
  font-family: Oswald;
  font-size: 75px;
  color: black;
  /*border-bottom-style: solid;*/
  /*border-bottom-color: #666666;*/
  /*border-bottom-width: 1px;*/
  margin: 20px;
  text-align: center;
}

.thumbnailtable {
  padding: 20px;
  border-style: solid;
  border-color: black;
  border-width: 
}

/* CONTACT CSS */

.button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.message {
  height: 300px;
  width: 300px;
}

/* MEDIA QUERY */

@media screen and (max-width: 980px) {

  body {
    
  }

  .thumbnailtable {
    margin-left: 20px;
  }

  form {
    margin-left: 20px;
  }

  .button {
    margin-left: 20px;
  }

}

/* TABLET MEDIA QUERY */

@media screen and (max-width: 768px) {

  body {
  
  }

  .fullspanheader {
    width: 768px;
  }

  .about {
    width: 768px;
    margin: 10px;
  }

  .thumbnailtable {
    margin-left: 20px;
  }

  form {
    margin-left: 20px;
  }

  .button {
    margin-left: 20px;
  }

}

/* LANDSCAPE PHONE MEDIA QUERY */

@media screen and (max-width: 640px) {

  body {
    
  }

  .fullspanheader {
    position: static;
    width: 640px;
  }

  .name {
    width: 640px;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

/* CSS code to center links: https://codepen.io/alexandredees/pen/ojaFr */

  .float_center {
    float: right;
  
    position: relative;
    left: -50%;
    text-align: left;
  }

  .float_center > .child {
    position: relative;
    left: 50%;
  }

/* End code to center links */

  .about {
    width: 640px;
    margin-left: 10px;
    margin-right: 50px;
  }

  #PortfolioHead {
    width: 620px;
  }

  .thumbnailtable {
    margin-left: 20px;
  }

  form {
    margin-left: 20px;
  }

  .button {
    margin-left: 20px;
  }

}